.ceylon__grid--row {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.ceylon__grid--col-1 {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.ceylon__grid--col-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.ceylon__grid--col-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.ceylon__grid--col-4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.ceylon__grid--col-5 {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.ceylon__grid--col-6 {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.ceylon__grid--col-7 {
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.ceylon__grid--col-8 {
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.ceylon__grid--col-9 {
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
}

.ceylon__grid--col-10 {
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
}

.ceylon__grid--col-11 {
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
}

.ceylon__grid--col-12 {
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.ceylon__grid--cell-1 {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  grid-column: span 1;
}

.ceylon__grid--cell-2 {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  grid-column: span 2;
}

.ceylon__grid--cell-3 {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  grid-column: span 3;
}

.ceylon__grid--cell-4 {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  grid-column: span 4;
}

.ceylon__grid--cell-5 {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  grid-column: span 5;
}

.ceylon__grid--cell-6 {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  grid-column: span 6;
}

.ceylon__grid--cell-7 {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  grid-column: span 7;
}

.ceylon__grid--cell-8 {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  grid-column: span 8;
}

.ceylon__grid--cell-9 {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  grid-column: span 9;
}

.ceylon__grid--cell-10 {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  grid-column: span 10;
}

.ceylon__grid--cell-11 {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  grid-column: span 11;
}

.ceylon__grid--cell-12 {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  grid-column: span 12;
}

html,
body {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */